# Исключить build директории
*.sln.iml
*.vcxproj.user

# Директории для игнорирования
.vs/
x64/
Debug/
Release/
ipch/
*.tlog/
*.log
*.idb
*.pdb
*.ilk
*.cache
*.obj
*.pch
*.res
*.ilk
*.meta
Thumbs.db

# Но сохранить следующие файлы (исключения из правил выше)
!Net1.cpp
!Net1.sln
!Net1.vcxproj
!Net1.vcxproj.filters
!Net1.vcxproj.user