# Visual Studio файлы
**/.vs/
**/ipch/
**/*.ipch
**/*.sdf
**/*.suo
**/*.opensdf
**/*.user

# Директории сборки
**/Debug/
**/Release/
**/x64/
**/x86/
.vs/Net1/
Net1/x64/Debug/

# Временные файлы
**/*.obj
**/*.pdb
**/*.ilk
**/*.log
**/*.tlog
**/*.idb
**/*.pch