# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build directories
**/x64/
**/Debug/
**/Release/
x64/
Debug/
Release/

# Don't ignore project files
!*.cpp
!*.h
!*.hpp
!*.sln
!*.vcxproj
!*.vcxproj.filters
!*.vcxproj.user